@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", "sans-serif";
}

body{
    background-color: rgb(241, 239, 239);
}
.container{
   text-align: center;
   background-color: white;
   max-width: 400px;
   margin: auto;
   padding-bottom: 20px;
   padding-top: 2px;
   box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.334);

}
input{
    text-align: center;
    width: 70px;
}
label{
    font-weight: bold;
}
h1 span1{
    color: rgb(246, 49, 49);
}
h1 span2{
    color: rgb(57, 203, 203);
}
button{
    margin-top: 20px;
    border-radius: 5px;
    width: 90px;
    height: 25px;
    border: solid 3px rgb(86, 198, 198);
    cursor: pointer;
}
button:hover{
    border: white;
    background-color: rgb(21, 185, 185);
    color: white;
}

button:active{
    background-color: rgb(152, 231, 231);
}

#diceImages img{
    margin: 5px;
    width: 100px;
}
#diceResult{
    margin-top: 10px;
    font-weight: 600;
}